.user-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    text-decoration: none;
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

.user-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    border: 3px solid black;
    padding: 10px;
}

.user-post {
    font-size: 18px;
    color: #555;
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 50px;
}